
body {

  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(http://bit.ly/2gPLxZ4);
  width: 100%;
  height: 100%;
}

.container{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.tron {
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
}

.form-control {
  width: 200px;
  border: 2px solid black;
  padding: 15px;
  margin: 10px;
}

#cashToday {
  width: 200px;
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
}

#rotatingCard {
  margin-bottom: 90px;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + h1, [type=radio] + .colleges, [type=radio] + .howYouLive {
  cursor: pointer;
}

[type=radio]:checked + .colleges, [type=radio]:checked + .howYouLive, [type=radio]:checked + h1 {
  border-top: 5px solid gray;
  padding-top: 5px;

}

.pos-f-t{
  display: none;
}

#collegePage {
  display: none;
}


#car_lease {
  display: none;
}

#collegeROI, #carLeasing {
  height: 300px;
  text-align: center;
  padding-top: 50%;
  padding-bottom: 50%;
  font-weight: bold;
  font-family: fantasy;
  cursor: pointer;
  border-radius: 10%;
}
.roundUnderline{
  border-radius: 20px;
}
.round {
  border-radius: 10%;
  background-color: #b4033b;
}

#collegeROI:hover, #carLeasing:hover {
  background-color: lightGray;
  color: black;
}

#results {
  display: none;
}

.colleges {
  text-align: center;
  border-radius: 20px;
}

.howYouLive {
  text-align: center;
  border-radius: 20px;
}

.gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 100%;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 133px;
  perspective: 1000px;

}



.flip-card-inner {
  position: relative;
  width: 100%;
  height: 150%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
}


.flip-card-back {
  background-color: #b4033b;
  color: white;
  transform: rotateY(180deg);
}
.washington {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 57%;
}




form, #city {
  display: inline-block;
}
form, #major {
  display: inline-block;
}

#homeCollege, #home {
  cursor: pointer;
}

.navbar {
  margin-left: 94%;
}
